@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;700&display=swap');
/* Estilos para el scrollbar personalizado */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}
.arabic-text {
  font-family: 'Noto Naskh Arabic', serif; /* Usa la fuente que descargamos arriba */
  direction: rtl;       /* Obligatorio: Dirección derecha a izquierda */
  font-size: 2.2rem;    /* Tamaño grande (ajústalo si quieres: 2.0, 2.5, etc) */
  line-height: 1.6;     /* Espacio entre líneas para que no se pisen los acentos */
  font-weight: 500;     /* Un poquito más gruesa para que se vea bien */
  text-align: center;   /* Centrado */
}